// Styles common to all charts

.axis {
  path,
  line {
    fill: none;
    stroke: $axis-ticks;
  }

  .title {
    fill: $gray;
    font: 10px sans-serif;
  }
}

.no-pred-text {
  font-size: 10px;
  left: 70px;
  letter-spacing: 1px;
  line-height: 25px;
  margin-bottom: 5px;
  position: absolute;
  text-transform: uppercase;
  top: 60px;
}
