// Styles common to all charts

.axis {
  path,
  line {
    fill: none;
    stroke: $axis-ticks;
  }

  text {
    fill: $gray;
    font-size: 10px;
  }
}

// Override for icons
i {
  font-style: normal;
}
