.prediction-group {
  pointer-events: none;

  .line-prediction {
    fill: none;
    stroke-width: 1.5px;
  }

  .area-prediction {
    opacity: .05;
  }
}

.actual-group {
  .actual {
    stroke: $actual;
    stroke-dasharray: 5, 5;
    stroke-width: 1px;
  }
}

.time-pointer-group {
  .pointer-triangle {
    fill: $gray;
    pointer-events: none;
  }
}

.overlay {
  fill: none;
  pointer-events: all;
}

.hover-line {
  fill: none;
  stroke: $hover-line;
  stroke-width: 1px;
}

.no-pred-text {
  fill: $gray;
  font-size: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

// Overrides for clickable x axis
.axis-x .tick {
  cursor: pointer;
}
