.prediction-group {
  pointer-events: none;

  .line-prediction {
    fill: none;
    stroke-width: 1.5px;
  }

  .area-prediction {
    opacity: .05;
  }
}

.time-pointer-group {
  .pointer-triangle {
    fill: $gray;
  }

  .pointer-overlay {
    cursor: pointer;
    fill: $gray;
    fill-opacity: 0;
  }
}

.overlay {
  fill: none;
  pointer-events: all;
}

.hover-line {
  fill: none;
  stroke: $hover-line;
  stroke-width: 1px;
}

.no-pred-text {
  fill: $gray;
  font-size: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
