.prediction-group {
  pointer-events: none;

  .line-prediction {
    fill: none;
    stroke-width: 1.5px;
  }

  .area-prediction {
    opacity: .05;
  }
}

.actual-group {
  .actual {
    stroke: $actual;
    stroke-width: 2px;
  }
}
