// Styles for time-chart

.overlay {
  cursor: pointer;
  fill: none;
  pointer-events: all;
}

.hover-line {
  fill: none;
  stroke: $hover-line;
  stroke-width: 1px;
}

.onset-group {
  .onset-mark {
    stroke-width: 6px;
  }
}

// Peak markers
.peak-group {
  .peak-mark {
    opacity: .9;
    stroke-width: 10px;

    &:hover {
      opacity: 1;
    }
  }

  .range {
    stroke-dasharray: 5, 5;
    stroke-width: .5px;
  }
}

.prediction-group {
  pointer-events: none;

  .line-prediction {
    fill: none;
    stroke-width: 1.5px;
  }

  .point-prediction {
    fill: $white;
    stroke-width: 1.5px;
  }

  .area-prediction {
    opacity: .2;
  }
}

.observed-group {
  pointer-events: none;

  .line-observed {
    fill: none;
    opacity: .4;
    stroke: $observed;
    stroke-width: 1.5px;
  }

  .point-observed {
    fill: $observed;
    opacity: .7;
    stroke: $observed;
  }
}

.actual-group {
  pointer-events: none;

  .line-actual {
    fill: none;
    opacity: .4;
    stroke: $actual;
    stroke-width: 2.5px;
  }

  .point-actual {
    fill: $actual;
    opacity: .4;
    stroke: $actual;
  }
}

.baseline-group {
  .baseline {
    stroke: $gray;
    stroke-dasharray: 5, 5;
    stroke-width: .5px;
  }

  .title {
    fill: $gray;
    font-size: 10px;
  }
}

.timerect {
  fill: $white-shade;
}

.range,
.stopper {
  opacity: .6;
  stroke: $gray-light;
  stroke-width: 1px;
}

.history-group {
  .line-history {
    fill: none;
    stroke: $history;
    stroke-width: 2px;

    &.highlight {
      pointer-events: none;
      stroke: $history-highlight;
      stroke-width: 3px;
    }
  }
}

.now-group {
  .now-line {
    stroke: $black;
    stroke-dasharray: 10 5;
    stroke-width: 1px;
  }

  .now-text {
    fill: $gray-light;
    font-size: 10px;
    text-transform: uppercase;
  }
}
