// Styles for tooltips

@mixin cell-padding() {
  padding: 5px 10px;
}

.d3-foresight-tooltip {
  background-color: $white;
  border-radius: 1px;
  box-shadow: 0 0 2px;
  font-size: 11px;
  position: fixed;
  z-index: 100;

  .bold {
    font-weight: bold;
  }
}

.d3-foresight-info-tooltip {
  width: 150px;

  .title {
    @include cell-padding;
    font-size: 13px;
    margin-bottom: 0;
    margin-top: 5px;
  }

  .text {
    margin-top: 0;
    @include cell-padding;
  }
}

.d3-foresight-chart-tooltip {
  .bold {
    float: right;
    font-weight: bold;
    margin-left: 5px;
  }

  .actual,
  .observed {
    background-color: $white;
    color: $gray;
    @include cell-padding;
  }

  .prediction {
    color: $white;
    @include cell-padding;
  }

  .point,
  .text {
    color: $gray;
    @include cell-padding;

    &.head {
      color: $white;
    }
  }
}
